{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Heading or question goes here
      </h1>

      <form class="form" action="/exports-answer" method="post">

        {{ govukCheckboxes({
          name: "exports",
          values: data["exports"],
          fieldset: {
            legend: {
              text: "What do you export?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "Fruit",
              text: "Fruit"
            },
            {
              value: "Vegetables",
              text: "Vegetables"
            },
            {
              value: "Meat",
              text: "Meat"
            }
          ]
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}
        
        </form>

        

      <form class="form" action="/path/of/next/page" method="post">

        <p>
          [Insert question content here - see the
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
          for examples]
        </p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
