
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Example — HMRC Design Patterns — Design resources for HMRC — GOV.UK</title>
    <link type="text/css" rel="stylesheet" href="https://admin-ui-rpan.onrender.com/public/sass/hmrc-design-system.css" media="all">
    <link type="text/css" rel="stylesheet" href="https://admin-ui-rpan.onrender.com/public/sass/hmrc-design-system.min.css" media="all">
    <link type="text/css" rel="stylesheet" href="../../hmrc-design-system.min.css" media="all">
    <link href="https://admin-ui-rpan.onrender.com/public/sass/hmrc-design-system.css" rel="stylesheet" type="text/css">
    <link href="/public/sass/hmrc-design-system.css" rel="stylesheet" type="text/css" />
  </head>

  <body class="app-example-page">
  

</body>


</html>
