<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Example — HMRC Design Patterns — Design resources for HMRC — GOV.UK</title>
    <link type="text/css" rel="stylesheet" href="https://admin-ui-rpan.onrender.com/public/sass/hmrc-design-system.css" media="all">
    <link type="text/css" rel="stylesheet" href="https://admin-ui-rpan.onrender.com/public/sass/hmrc-design-system.min.css" media="all">
    <link type="text/css" rel="stylesheet" href="../../hmrc-design-system.min.css" media="all">
    <link href="https://admin-ui-rpan.onrender.com/public/sass/hmrc-design-system.css" rel="stylesheet" type="text/css">
    <link href="/public/sass/hmrc-design-system.css" rel="stylesheet" type="text/css" />
  </head>

  <body class="app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<meta name="hmrc-timeout-dialog" content="hmrc-timeout-dialog" data-language="en" data-timeout="70" data-countdown="68" data-keep-alive-url="https://admin-ui-rpan.onrender.com/home-new-live" data-sign-out-url="https://admin-ui-rpan.onrender.com/home-new-live" data-timeout-url="https://admin-ui-rpan.onrender.com/inactivity-28mins" data-title="" data-message="" data-message-suffix="" data-keep-alive-button-text="" data-sign-out-button-text="" data-synchronise-tabs="">

</body>
  <script src="https://admin-ui-rpan.onrender.com/public/javascripts/hmrc-design-system.js"></script>
</html>


<!--<meta name="hmrc-timeout-dialog" content="hmrc-timeout-dialog" data-language="en" data-timeout="70" data-countdown="68" data-keep-alive-url="https://admin-ui-rpan.onrender.com/home-new-live" data-sign-out-url="https://admin-ui-rpan.onrender.com/inactivity-28mins" data-timeout-url="https://admin-ui-rpan.onrender.com/inactivity-28mins" data-title="" data-message="" data-message-suffix="" data-keep-alive-button-text="" data-sign-out-button-text="" data-synchronise-tabs="">-->
