
<!doctype html>
<html lang="en" class="noScroll">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Service Timeout — HMRC Design Patterns — Design resources for HMRC — GOV.UK</title>
    <link type="text/css" rel="stylesheet" href="https://admin-ui-rpan.onrender.com/public/sass/hmrc-design-system.css" media="all">
    <link type="text/css" rel="stylesheet" href="https://admin-ui-rpan.onrender.com/public/sass/hmrc-design-system.min.css" media="all">
    <link type="text/css" rel="stylesheet" href="../../hmrc-design-system.min.css" media="all">
    <link href="https://admin-ui-rpan.onrender.com/public/sass/hmrc-design-system.css" rel="stylesheet" type="text/css">
    <link href="/public/sass/hmrc-design-system.css" rel="stylesheet" type="text/css">

    <style>

      body {
  background-color: #3C3D3D!important;
}

      </style>
    
  
  <link class="tempLink" rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=">
</head>

  <body class="js-enabled">
    <!--<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>-->
    
<meta name="hmrc-timeout-dialog" content="hmrc-timeout-dialog" data-language="en" data-timeout="70" data-countdown="68" data-keep-alive-url="https://admin-ui-rpan.onrender.com/service-ui-user-1" data-sign-out-url="https://admin-ui-rpan.onrender.com/sign-in-user-1" data-timeout-url="https://admin-ui-rpan.onrender.com/sign-in-user-1" data-title="" data-message="" data-message-suffix="" data-keep-alive-button-text="" data-sign-out-button-text="" data-synchronise-tabs="">

<!--<script src="https://admin-ui-rpan.onrender.com/public/javascripts/hmrc-design-system.js"></script>-->

<div id="hmrc-timeout-dialog" tabindex="-1" role="dialog" aria-modal="true" class="hmrc-timeout-dialog" aria-labelledby="hmrc-timeout-heading hmrc-timeout-message">
  
<div>
  <h1 id="hmrc-timeout-heading" class="govuk-heading-m push--top">Your application will time out soon</h1>
  
<p class="govuk-body hmrc-timeout-dialog__message" aria-hidden="true">We need to reset your application in 2 minutes. We do this every hour to keep your information secure. You can stay signed in for 2 minutes or begin a new session by signing out.
</p>
  
<p id="hmrc-timeout-message" class="govuk-visually-hidden screenreader-content" aria-live="assertive">We need to reset your application in 2 minutes. We do this every hour to keep your information secure. You can stay signed in for 2 minutes or begin a new session by signing out.</p>

  <a href="https://admin-ui-rpan.onrender.com/inactivity-58mins" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
Stay signed in
</a>

  

<div class="hmrc-timeout-dialog__link-wrapper">
<a id="hmrc-timeout-sign-out-link" class="govuk-link hmrc-timeout-dialog__link" href="https://admin-ui-rpan.onrender.com/inactivity-58mins">Sign out</a>
</div>
</div>
</div>
  
</div>
  </body>
</html>
